<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create  Your Chat</h1>
    <form method="post" action="/chats">
        <input type="text" name="from" placeholder="your name"><br><br>
        <input type="text" name="to" placeholder="who you are sending to"><br><br>
        <textarea name="msg"  cols="30" rows="10">Enter your message</textarea><br><br>
        <button>Add</button>
    </form>
</body>
</html>